practico2/catalogo_streaming_argentina_2024.xlsx
practico2/netflix_titles.csv
practico2/ObesityDataSet_raw_and_data_sinthetic.csv
practico2/ObesityDataSet_raw_and_data_sinthetic.txt
practico2/netflix_titles.txt
